body {
    font-family: Arial, Helvetica, sans-serif; 
}

h1 {
    color:#1E9585;
    font-size: 29px;
    margin: 10px 0 5px 0;
}

#bem-vindo-subtexto {
    color: gray;   
    font-size: 13px; 
}

#caixa-login {
    width: 269px;
    height: 393px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 80px 0 0 200px;
    padding: 15px 60px;
    text-align: center;
}

.inputs {
    width: calc(100% - 8px);
    height: 27px;
    border: 1px solid grey;
    border-radius: 3px;
    margin-top: 20px;
    display: flex;
    padding: 4px;
}

.inputs input {
    width: calc(100% - 14px);
    border: none;
    padding-left: 5px;
    outline: none;
}

.inputs i {
    line-height: 27px;
}

.entrar{
    width:100;
    height:25;
    background-color: #1E9585;
    color: white;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;

}

.entrar:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
}

#botao-google{
    width: 200px;
    height: 50px;
}